body{
	background-color: #000;
	color: #FFF;
}
h1{
	text-transform: uppercase;
	
}
#pagebuilding{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#pagebuilding>img{
	max-height: 75vh;
	max-width: 75vw;
}
.gallerygroup img{
	height: 200px;
}