body{
	background-color: #000;
	color: #FFF;
}
h1{
	text-transform:uppercase;
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-size: 2rem;
}
h2{
	text-transform:uppercase;
	padding: 10px;
}
#pagebuilding{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#pagebuilding>img{
	max-height: 75vh;
	max-width: 75vw;
}
.gallerygroup img{
	height: 25vw;
}
.galleryrow{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.flagvignette{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	min-width: 51%;
	margin-bottom: calc(1rem + 1vw);
}
.flagvignette span{
	padding: 10px;
}
@media screen and (min-width:480px) and (max-width:767px) {
	.flagvignette{
		min-width: 34%;
	}
	.gallerygroup img{
		height: 20vw;
	}
}
@media screen and (min-width:768px) and (max-width:1079px) {
	.flagvignette{
		min-width: 21%;
	}
	.gallerygroup img{
		height: 10vw;
	}
}
@media screen and (min-width:1080px) {
	body{
		width: 1080px;
		margin-left: auto;
		margin-right: auto;
	}
	.flagvignette{
		min-width: 21%;
	}
	.gallerygroup img{
		height: 10vw;
	}
}